

body {
  /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
}
h1{
  color: #3d3d3d;
  text-align: center;
}
.form-container{
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
  font-family: 'Times New Roman', Times, serif
}
.search {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 1.5rem;
  padding: 3rem;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 0 3px 5px #00000099;

}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form select {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input:focus {
  background: #dbdbdb;
}
.form button:focus{
  border: 1px solid rgb(176, 176, 228);
  background: rgb(103, 188, 28); 
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.page-section .update{
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  width: 10%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:active {
  background: #395591;
}

.form span {
  font-size: 75px;
  color: #4b6cb7;
}
.auto-div-container{
  position:absolute;
  overflow-y: scroll;
  height: 20vh;
  width: 20rem;

}
.auto-div{
  padding: 5px;
  font-size: 1rem;
  background: rgb(228, 226, 226);
  border-bottom: 1px solid #787878dd;
  cursor: pointer;
}
.auto-div:hover{
  background: rgb(78, 78, 78);
  color:#f2f2f2;

}
.page-section{
  flex: 1;
  border-radius: 1%;
  /* margin: 3rem; */
  text-align: center;
  justify-content: center;
  padding: 1rem 3rem;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th{
  background-color: #4b6cb7;
  color: #ffffff;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.table-search{
  outline: 0;
  background: #f2f2f2;
  min-width: 15%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.search{
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}